@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  position: fixed;
}

.left {
  width: 40%;
  height: 100%;
}

.right {
  margin-left: 40%;
  width: 60%;
}
.right:nth-child(1) {
  background-color: #ece6cc;
}

.right:nth-child(2) {
  background-color: #f5f5dc;
}

.right:nth-child(3) {
  background-color: #eee6c4;
}

.button {
  background-color: #f1ede3;
  display: block;
}

.signup-clicked {
  background-color: #bebbb1;
}

.login-clicked {
  font-weight: bold;
  background-color: #bebbb1;
}

.prev {
  left: 70%;
  top: 3%;
}

.next {
  left: 70%;
  bottom: 4%;
}
