/* 회의실 전체 틀 */
#meetingroom-meetingroom {
  display: grid;
  margin-left: 3vw;
  gap: 3vw;
  height: 100vh;
  overflow-x: hidden;
}

/* 참가자 비디오 */
#meetingroom-participants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2vh;
  width: 100%;
  height: 84vh;
  overflow-y: auto;
  transition: all ease-out 0.5s;
}

.meetingroom-frame {
  width: 100%;
  height: 37vh;
  /* overflow: hidden; */
}

#meetingroom-participants video {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
}

#meetingroom-participants span {
  display: block;
  margin: auto;
  width: 50%;
  position: relative;
  padding: 0.5rem;
  background-color: rgba(128, 128, 128, 0.3);
  color: white;
  transform: translateY(-3rem);
}

#meetingroom-participants blockquote {
  position: relative;
  border-radius: .4em;
  color: #FFFFFF;
  background-color: #BEBBB1;
  border-bottom-color: #BEBBB1;
  font-size: 2rem;
  /* border: 24px solid transparent; */
  border-top: 0;
  border-right: 0;
  width: 50%;
  margin: auto;
  margin-top: -1rem;
}


#meetingroom-toolbar {
  margin: auto;
  margin-top: 3rem;
  display: flex;
  width: 40vw;
  align-items: center;
  justify-content: space-evenly;
}

.meetingroom-red {
  border-radius: 100%;
  background-color: #D55E00;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}

.meetingroom-grey {
  border-radius: 100%;
  background-color: rgb(144, 144, 144);
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}

.meetingroom-grey img {
  object-fit: cover;
}

.meetingroom-red svg {
  object-fit: cover;
}

/* 회의실 채팅창 */
#meetingroom-chats {
  width: 23vw;
  height: 86vh;
  border-radius: 1rem;
  background-color: white;
  margin: auto;
  margin-top: 1rem;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

/* 메시지 알림 */
#meetingroom-noti {
  position: fixed;
  background-color: #D55E00;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  right: 1.1rem;
  bottom: 1.2rem;
}

/* 메시지 목록 */
#meetingroom-messages {
  overflow-y: scroll;
}

/* 스크롤바 설정*/
#meetingroom-messages::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
#meetingroom-messages::-webkit-scrollbar-thumb{
  height: 5%;
  background-color: rgba(223, 145, 223, 0.733);
  background-color: #bebbb9;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
#meetingroom-messages::-webkit-scrollbar-track{
  background-color: #FFFFFF;
}


/* 스크롤바 설정*/
#meetingroom-participants::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
#meetingroom-participants::-webkit-scrollbar-thumb{
  height: 5%;
  background-color: rgba(223, 145, 223, 0.733);
  background-color: #bebbb9;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;  
}

/* TTS 스위치버튼 */
.meetingroom-switch-button { 
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

.meetingroom-switch-button input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.meetingroom-onoff-switch { 
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius:20px;
  background-color: #ccc;
  box-shadow: inset 1px 5px 1px #999;
  -webkit-transition: .4s;
  transition: .4s;
}
.meetingroom-onoff-switch:before { 
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .4s;
  border-radius: 18px;
}
.meetingroom-switch-button input:checked + .meetingroom-onoff-switch { 
  background-color: #009e747a;
  box-shadow: inset 1px 5px 1px #009e747a;
}
.meetingroom-switch-button input:checked + .meetingroom-onoff-switch:before { 
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

