/* 회의실 전체 틀 */
#meetingroom-meetingroom {
  display: grid;
  margin-left: 3vw;
  gap: 3vw;
  height: 100vh;
  overflow-x: hidden;
}

/* 참가자 비디오 */
#meetingroom-participants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2vh;
  width: 100%;
  height: 84vh;
  overflow-y: auto;
  transition: all ease-out 0.5s;
}

.meetingroom-frame {
  width: 100%;
  height: 37vh;
  /* overflow: hidden; */
}

#meetingroom-participants video {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
}

#meetingroom-participants span {
  display: block;
  margin: auto;
  width: 50%;
  position: relative;
  padding: 0.5rem;
  background-color: rgba(128, 128, 128, 0.3);
  color: white;
  transform: translateY(-3rem);
}

#meetingroom-participants blockquote {
  position: relative;
  border-radius: .4em;
  color: #FFFFFF;
  background-color: #BEBBB1;
  border-bottom-color: #BEBBB1;
  /* border: 24px solid transparent; */
  border-top: 0;
  border-right: 0;
  width: 50%;
  margin: auto;
  margin-top: -1rem;
}


#meetingroom-toolbar {
  margin: auto;
  margin-top: 3rem;
  display: flex;
  width: 40vw;
  align-items: center;
  justify-content: space-evenly;
}

.meetingroom-red {
  border-radius: 100%;
  background-color: #D55E00;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}

.meetingroom-grey {
  border-radius: 100%;
  background-color: rgb(144, 144, 144);
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}

.meetingroom-grey img {
  object-fit: cover;
}

.meetingroom-red svg {
  object-fit: cover;
}

/* 회의실 채팅창 */
#meetingroom-chats {
  width: 23vw;
  height: 86vh;
  border-radius: 1rem;
  background-color: white;
  margin: auto;
  margin-top: 1rem;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

#meetingroom-noti {
  position: fixed;
  background-color: #D55E00;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  right: 1.1rem;
  bottom: 1.2rem;
}

#meetingroom-messages {
  overflow-y: scroll;
}

/* 스크롤바 설정*/
#meetingroom-messages::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
#meetingroom-messages::-webkit-scrollbar-thumb{
  height: 5%;
  background-color: rgba(223, 145, 223, 0.733);
  background-color: #bebbb9;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
#meetingroom-messages::-webkit-scrollbar-track{
  background-color: #FFFFFF;
}


/* 스크롤바 설정*/
#meetingroom-participants::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
#meetingroom-participants::-webkit-scrollbar-thumb{
  height: 5%;
  background-color: rgba(223, 145, 223, 0.733);
  background-color: #bebbb9;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;  
}
